@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.carousel-btn {
    padding: 10px 43.5px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}
